.anchor/
.DS_Store
target/
node_modules/
dist/
.env
**/*.so
**/*.json
!app/utils/*.json
!Anchor.toml
!package.json
!tsconfig.json
yarn-error.log
solana-release/
anchor
anchor.tar.bz2
solana.tar.bz2
criterion-v2.3.2-osx-x86_64.tar.bz2
